---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
	<p id="para">About</p>
</MainLayout>

<!--
<style lang="scss">
	h1 {
		color: goldenrod;
		&:hover {
			color: blue;
		}
	}
</style> 
-->