---
import Button from '../components/Button.jsx';
import MainLayout from '../layouts/MainLayout.astro';

// const num = 1
const num = ["bob", "jo"]
---

<MainLayout title="Home">
	<p id="copyright" class="text-3xl bg-blue-500 text-white"></p>
	<Button client:load/>
</MainLayout>

<script>
	import "../js/utils.js";
</script>
